/**
 * Site header
 */
.site-header {
    background-color: #FF0000;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/**
*Site Menu
*/

.menu {
    height: 30px;
    border: 15px solid #FF0000;
    text-align: center;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
    grid-template-areas: " . ABOUT MUSIC LOVE VISION MEDIA CONTACT . ";
 }

.menu div {text-align:center;}

.about {
    grid-area: ABOUT;
 }

.music {
    grid-area: MUSIC;
}

.love {
    grid-area: LOVE;
}

.vision {
    grid-area: VISION;
}

.media {
    grid-area: MEDIA;
}

.contact {
    grid-area: CONTACT;
}

/**
* Site main
*/

.main {
    height: 400px;
    border: 5px solid #FF0000;
    display: grid;
    grid-template-columns: repeat (10, 1fr);
    grid-template-rows: repeat (5, 1fr);
}

.sayhello {
    border: 1px solid #000000;
    grid-column: 2/5;
    grid-row: 2/3;
    transform: rotate(-10deg);
}

.booking {
    border: 1px solid #000000;
    grid-column: 6/10;
    grid-row: 2/3;
    transform: rotate(4deg);
}

.wannabe {
    border: 1px solid #000000;
    grid-column: 5/7;
    grid-row: 3/4;
}

.listen {
    border: 1px solid #000000;
    grid-column: 3/5;
    grid-row: 4/5;
    transform: rotate(18deg);
}

.pictures {
    border: 1px solid #000000;
    grid-column: 8/10;
    grid-row: 4/5;
    transform: rotate(-22deg);
}


/**
 * Site footer
 */
.site-footer {
    background-color: #FF0000;
    position: relative;
}

.sm-list {
    border: 3px solid #FF0000;
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr 1fr 1fr 25%;
    grid-template-areas: " . a b c d e . ";
    
}

.icon {
    background-color: #FFFFFF;
    border: 5px solid #FF0000;
    text-align: center;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
